// Base

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

body {
  padding: 0;  
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  font-weight: 300;
  background: var(--body-bg);
  height: 100vh;


}




// headings ------------
h1,h2,h3,h5,h6 {
  margin: 0 0 .5em;
  color: var(--heading-color);
}

// links ---------------
a {
  color: var(--link-color);
}


// app splash screen -------
.app-splash {
  position: fixed;
  background: #fff;
  color: #777;
  display: flex;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  .app-logo {
    width: 180px;
    display: block;
    margin-bottom: 1em;
  }
}


// helper classes ---------
.calign {
  text-align: center;
}
.profile-centre {
  text-align: center;
  padding-top: 80px;
  





  border-radius: 10px;

}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

// generic-entry ------------
.generic-entry {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.07);
  border-radius: 5px;
  margin-bottom: .5em;
  padding: 1em;
  background: #fff;
}

// root ---------------
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  overflow: hidden;
}

// page --------------------
.page-content {
  position: absolute;
  top: var(--app-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  
  
  &.no-pad {
    padding: 0;
  }
}

.page-content-secondary{
  position: absolute;
  top: var(--app-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow: hidden;
  
  
  &.no-pad {
    padding: 0;
  }
}





.page-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// sign in + sign up pages ----------
.signinup-box,
.signup-box {  
  max-width: 320px;
  text-align: center;
}

.signinup-logo {
  width: 200px;
  margin-bottom: 1em;
}

// guide page ---------------
.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 600px;
  img {
    width: 100%;
    height: auto;
  }
}




.designs-container{
    
    /* Supports Grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    grid-auto-rows: repeat(auto-fit, minmax(300px, 300px));
    grid-gap: 1em;
    padding: 3em;
    justify-items: center;
    justify-content: center;
    padding-bottom: 100px;
  

}


.designs-container-profile{
    
  /* Supports Grid */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-auto-rows: repeat(auto-fit, minmax(300px, 300px));
  grid-gap: 1em;
  padding: 4em;
  justify-items: center;
  justify-content: center;
  padding-bottom: 100px;


}




.design-card {
  -moz-box-shadow: 5px 5px 5px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(170, 170, 170, 0.6);
  box-shadow: 5px 5px 5px rgba(170, 170, 170, 0.2);

}


.design-dialog{
  --width:70%;
}

.design-dialog::part(body){
  margin-top: -4em;
}




// 
.newDesignContainer{
  display: grid;
  justify-items: center;
  grid-template-columns: auto;
  padding: 3em;
  
  
}



// sign in styling

.grid {
  display: grid;
  grid-template-columns: 35% auto;
  min-height: 100vh;
  max-height: 100vh;
}

article {
  background: #f8f0c1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.signin-artwork{
  background-color: #6fa5e2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.signin_artwork {
  margin-top: 20%;


  max-width: 100%;
  height: auto;
  padding: 5em;
  display: flex;
}



#imageInput{
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 5px 5px 5px rgba(170, 170, 170, 0.2);
  
}




#descriptionWindow{
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(170, 170, 170, 0.2);
}

.newdesign-artwork{
  background-color: #6fa5e2;
  width: 100%;
  height: auto;
}

#newdesign_artwork{
  margin-top: 20%;
  margin-bottom: 10%;
  max-width: 100%;

  width: 100vw;
  height: 90vh;
  margin-top: 2%;
  padding: 5em;
  display: flex;
}


.signin-wave{
  display: grid;
  position: absolute;
  top: 0px;
  overflow: hidden;
  max-width: 35%;
  height: auto;
}


//  guide styling


.home-container-guide{
  display: grid;
  margin-left: 25%;
  margin-right: 25%;

}




// HOME PAGE STYLING


.home-container-main{
  display: grid;
  width: 100%;

}




.grid-container-home{

    display: flex;
    flex-wrap: wrap;

  grid-auto-flow: column;
    grid-template-columns: repeat( auto-fit, minmax(2503px, 1fr) );
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;



    margin-top: calc(50px + 4em);



}


.home-item1, .home-item2, .home-item3, .home-item4, .home-item5, .home-item6{
  background-color: #ffffff;
  flex: 1 1 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(170, 170, 170, 0.2);
  margin: 0.4em;
  align-content: center;
  max-width: 250px;
  margin: 1em;
}

.home-item1:hover, .home-item2:hover, .home-item3:hover, .home-item4:hover, .home-item5:hover, .home-item6:hover{
  cursor: pointer;
  box-shadow: none;

  box-shadow: 5px 5px 5px rgba(170, 170, 170, 0.5);

  border-width: 5px;
    .home_artwork{
      transform: scale(1.05);
    }
}



.home-item1{
  grid-column-start: 1;
  grid-column-end: 2;
}
.home-item2{
  grid-column-start: 2;
  grid-column-end: 3;
}
.home-item3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.home-item4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}



.wrap{
  perspective-origin: 50% 50%;
}

.page{
  margin: 3%;
  max-width:600px;
  margin-left:auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 3px;
  text-align:center;
  font-size: 1.4vw;
  h2{
    font-weight: bold;
    font-size: 6.5vw;
    font-weight: 900;
    font-style: italic;
    color:#dad8ec;
  }
}
li {
  list-style: none;
  padding: 1em;
}

$colors: #6fa5e2, #d6af87;
$repeat: 2;  // How often you want the pattern to repeat.
// Warning: a higher number outputs more CSS.

@for $i from 1 through $repeat {
    li:nth-child(#{length($colors)}n+#{$i}) {
        stroke: lighten(nth($colors, random(length($colors))), 20%);

    }
  }
.svg{
  stroke: #6fa5e2;
  position:absolute;
  bottom: -50vh;
  transform-style: preserve-3d;
}
.svg2{
  stroke: #d6af87;
  position:absolute;
  bottom: -100vh;
  transform-style: preserve-3d;
}
.svg3{

  position:absolute;
  bottom: -50vh;
  transform-style: preserve-3d;
}

$total: 10;
@for $i from 1 through $total {
  $scale:random(2) - .4;
  
  .svg:nth-child(#{$i}){
    left:random(120) * 1% - 20;
    animation: raise#{$i} 20 + random(40) +s linear infinite;
    animation-delay:random(5) - 5 + s;
    transform: scale(.3 * $i - .6) rotate(random(360) + deg);
    z-index: $i - 10;
    filter: blur($i - 10 + px);

    @keyframes raise#{$i} {
      to{
       bottom:150vh;
       transform: scale(.3 * $i - .6) rotate(random(360) + deg);
      }
    }
  }
}


$total: 10;
@for $i from 1 through $total {
  $scale:random(2) - .4;
  
  .svg2:nth-child(#{$i}){
    left:random(120) * 1% - 20;
    animation: raise#{$i} 20 + random(40) +s linear infinite;
    animation-delay:random(5) - 5 + s;
    transform: scale(.3 * $i - .6) rotate(random(360) + deg);
    z-index: $i - 10;
    filter: blur($i - 10 + px);

    @keyframes raise#{$i} {
      to{
       bottom:150vh;
       transform: scale(.3 * $i - .6) rotate(random(360) + deg);
      }
    }
  }
}


$total: 10;
@for $i from 1 through $total {
  $scale:random(2) - .4;
  
  .svg3:nth-child(#{$i}){
    left:random(120) * 1% - 20;
    animation: raise#{$i} 20 + random(40) +s linear infinite;
    animation-delay:random(5) - 5 + s;
    transform: scale(.3 * $i - .6) rotate(random(360) + deg);
    z-index: $i - 7;
    filter: blur($i - 10 + px);

    @keyframes raise#{$i} {
      to{
       bottom:150vh;
       transform: scale(.3 * $i - .6) rotate(random(360) + deg);
      }
    }
  }
}

.home_image_wrapper{
  position: relative;
  display: flex;
}

.home_artwork{
  top: 70px;
  display: flex;
}

.home_title{
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 20px;

}




// public profile styling
.profile-grid{
  display: grid;
  justify-content: center;
}


.profile-item1{
  display: block;
  position: relative;
  justify-items: center;
  background-color: white;


  padding: 1em;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(170, 170, 170, 0.2);
}


.profile-item4{
  display: flex;
  margin-top: 25px;
  position: relative;
  justify-items: center;
  justify-content: center;
  background-color: white;
  max-width: 300px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;


  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(170, 170, 170, 0.2);
}


.profile-title{


  margin-right: 25%;
  margin-left: 25%;
  margin-top: 50px;
}



// favourites page styling



// edit styling

.edit-grid{
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-top: 200px;
}


.edit-btn{
  position: fixed;
  right: 40px;
  top: 60px;
}


// 404 styling

.fourOhFour{
  font-size: 150px;
}



// guide styling

.guide-text-1{
  margin-top: 3em;
}



// DESIGN PAGE STYLING (HEADER AND FILTER SECTION)



.design-page-container{
  display: grid;
  grid-template-columns: 100%;
  background-color: #f8f0c1;
  border-radius: 25px;
  justify-content: center;
  max-height: 50vh;
  overflow: hidden;
}

.design-artwork_wrapper{
  min-height: 300px;
  display: flex;
  max-height: 25vh;
}


.search-bar-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  padding-top: 2em;
  
}


.filter-menu-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
}

.filter-menu{
  display: grid;
  max-width: 1200px;
  margin-top: 25px;
  grid-gap: 1em;
  padding: 0.8em;
  justify-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(170, 170, 170, 0.2);


    .filter-btn{
      padding: 0.2em;
    }   
}

.btn-col1{
  display: flex;
  grid-row: 1 / span 3;
}

.btn-col2{
  display: flex;
  grid-row: 2 / span 3;
}

.btn-col3{
  display: flex;
  grid-row: 3 / span 4;
}



// footer styling 





// public profile responsive
@media all and (min-width: 1200px) {
  .profile-item4{
    max-width: 800px;
  } 
}

@media all and (min-width: 600px) {
  .profile-item4{
    max-width: 400px;
  } 
}

@media all and (min-width: 900px) {
  .profile-item4{
    max-width: 600px;
  } 
}

// new design page styling



@media all and (min-width: 1582px) {
  .home-container-main{
    display: flex;
    padding: 5em;
  }
}

@media all and (min-width: 1440px) {
  .home-container-main{
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  .grid-container-home{
    display: flex;
    justify-items: center;
    justify-content: center;
  }
}


// responsive filter
@media all and (max-width: 1140px) {
  .filter-menu {
    background-color: rgb(255, 255, 255);
    display: grid;
    padding: 1em;
    grid-row-gap: 100px;
  }
  .btn-col1, .btn-col2, .btn-col3, .btn-col4{
    display: grid;
  }

}



// responsive sign in

@media all and (max-width: 860px) {
  article {
    grid-column: 1 / 5;
  }
}

// new design artwork fix
@media all and (max-width: 861px){ 
.newdesign-artwork, #newdesign_artwork, .signin-artwork{
  display: none;
}
}


// RESPONSIVE - MOBILE -------------------
@media all and (max-width: 665px){ 
    .designs-container{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-auto-rows: repeat(auto-fit, minmax(200px, 200px));
    grid-gap: 0.5em;
    padding: 1em;
    justify-items: center;
    justify-content: center;
    }
    .design-image{
      height: 200px;
      width: 200px;
    }





    .filter-menu{
        margin-top: 10px;
        position: relative;
        display: grid;
        max-width: 355px;
        margin-right: 5px;
        height: 25vh;
        margin-top: 2px;
        padding: 1em;
        justify-items: center;
        justify-content: center;
        border-radius: 15px;
        background-color: white;
        box-shadow: 5px 5px 5px rgba(170, 170, 170, 0.2);

      
      .btn-col4{
        position: absolute;
        bottom: 1px;
        visibility: hidden;
      }

    }
    


}


